:root {
  --background-color: #15042f;
  --middle-gradiendColor: #270757;
  --header-curve-color: #f7fbfc;
  --body-color: #f7fbfc;
  --font-color: #fff;
  --font-family:  'Poppins', sans-serif;;
//   --font-family: 'Inter', Arial, sans-serif;
//   --header-height: 40vh;
//   --header-curve-height: 120px;
}