@use "variables";

.site-header {
  position: relative;
  min-height: 85vh;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
  display: flex;
  height: auto;

  flex-direction: row;
  background: radial-gradient(
    circle at 75% center,
    var(--end-gradiendColor) 0%,
    var(--middle-gradiendColor) 20%,
    var(--background-color) 100%
  );
  color: var(--font-color);
  // padding: 2rem;

  button {
    // align-self: flex-start;
    // justify-self: flex-end;
    position: fixed;
    display: flex;
    top: 40px;
    right: 40px;
    z-index: 1000;
    @media (max-width: 600px) {
      top: "20px";
      right: "40px";
    }
  }
  .content {
    text-align: left;
    position: relative;
    width: 50vw;
    h1 {
      font-size: 7vw;
      font-weight: 400;
      margin: 0 0 1rem 0;
    }

    span {
      font-size: 1.25rem;
      line-height: 1.6;
      color: var(--font-color);

      margin: 0;
      display: inline-block;
      // vertical-align: baseline;
    }
  }
  .header-image {
    position: relative;

    img {
      width: 32vw;
      max-width: 360px;
      height: auto;
      border-radius: 1.5rem;
      background: transparent;
      object-fit: contain;
      display: block;
    }
  }
}
.header-curve {
  position: relative;
  background: transparent;
  width: 100vw;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
  height: 80px;
  animation: headerFadeInUp 3s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  svg {
    display: block;

    fill: var(--background-color);
    width: 100vw;
    height: 80px;

    @media (max-width: 600px) {
      height: 0px;
    }
  }
}
@keyframes headerFadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.site-header {
  animation: headerFadeInUp 3s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.site-header .content > * {
  opacity: 0;
  animation: textFadeIn 1.2s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

/* Stagger the animation for each element */
.site-header .content h1 {
  animation-delay: 0.5s;
}

.site-header .content span {
  animation-delay: 1.03s;
}

@media (max-width: 1080px) {
  .site-header {
    border: none;
    flex-direction: column-reverse;
    background: radial-gradient(
      circle at 50% center,
      var(--middle-gradiendColor) 0%,
      var(--background-color) 20%,
      var(--background-color) 100%
    );
    padding: 0%;
    height: auto;
    display: flex;
    @media (max-width: 600px) {
      border-bottom-left-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
    }

    .img {
      max-width: 100%;
    }

    .content {
      padding: 1rem;
      width: 80vw;
      .span {
        font-size: 1rem;
        line-height: 0;
        color: #e0e0e0;
        margin: 0;
        width: 100px;
        display: inline-block; // keeps animation per word
      }
    }
  }
}
//   .hero-image {
//     width: 100%;
//     justify-content: center;
//     margin-top: 2rem;
//   }
//   .hero-image img {
//     width: 60vw;
//     max-width: 320px;
//   }
