@use 'variables';

footer {
  background: var(--background-color);
  color: #fff;
  padding: 1rem;
  height: 10vh;
  width: 100vw;
//   align-items: center;
//   justify-content: center;
//   display: flex;

}


body, html {
    font-family: VAR(--font-family);
    .-webkit-scrollbar{
         display: none;
    }
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav a {
  margin-left: 1rem;
  color: #aad;
  text-decoration: none;
  &:hover { color: #fff; }
}


