@use 'variables';

footer {
  background: var(--background-color);
  color: #fff;
  // height: 10vh;
  width: 100vw;
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    svg {
      width: 4rem;
      height: 4rem;
     
      fill: var(--font-color);
      transition: fill 0.3s ease;
      &:hover {
        fill: var(--middle-gradiendColor);
      }
    }
    a {
      margin: 0 1rem;
      color: var(--font-color);
      text-decoration: none;
      font-size: 1.2rem;
      margin-top: 0.5rem;
      &:hover {
        color: var(--middle-gradiendColor);
      }
    }
  }
//   align-items: center;
//   justify-content: center;
//   display: flex;

}


body, html {
    font-family: VAR(--font-family);
    .-webkit-scrollbar{
         display: none;
    }
  background: var(--body-color);
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav a {
  margin-left: 1rem;
  color: #aad;
  text-decoration: none;
  &:hover { color: #fff; }
}


