@use "variables";
.projects {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding: 0;
  h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;

    color: var(--background-color);
  }
  h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--background-color);
  }
  .cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
    align-items: stretch;

    .project-card {
      overflow: hidden;
      background: var(--card-color);
      border-radius: 1rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      transition: transform 0.3s ease;
      text-align: center;
       height: 100%;
      padding: 1rem;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;


      &:hover {
        transform: translateY(-10px);
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: var( --card-font-color);
      }
      .tech-title {
        font-size: 1.5rem;
        color: var( --card-font-color);
        margin-bottom: 0.5rem;
        text-align: start;
      }
      .links-row {
        margin-top: auto; // pushes it to the bottom
        display: flex;
        justify-content: flex-start; /* Aligns items to the start horizontally */
        gap:1rem;
        img {
          width: 30px; /* Smaller icon size */
          height: 30px;
          object-fit: contain;
          display: inline-block;
        }
        
      }
      p {
        font-size: 1rem;
        color: var( --card-font-color);
        margin-bottom: 1rem;
        text-align: justify;
      }

      a {
        text-decoration: none;
        color: var( --card-font-color);
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    @media (max-width: 1440px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 1080px) {
      grid-template-columns: 1fr;
      gap: 1.2rem;

      .project-card {
        width: 90vw;
      }
    }
  }
}
